<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link href='{% static "css/bootstrap-grid.css" %}'
          rel="stylesheet">
</head>
<body>
    <h1 align="center">Всем привет!</h1>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src='{% static "images/personal.jpg" %}' alt="aboba" width="95%">
            </div>
            <div class="col">
                <p><font size="5">
                    Меня зовут Васильков Андрей, мне 16 лет. Я живу в восточном
                    округе города Москва, в районе Перово.
                    Я увлекаюсь программированием, а также автомобилями,
                    в основном спортивными. Из всех дисциплин автоспорта
                    меня больше всего привлекает дрифт. В свободное время часто
                    играю в волейбол, раньше занимался в секции, но сейчас это
                    стало достаточно сложно объединять с подготовкой к егэ.
                </font></p>
            </div>
            <div class="col">
                <p><font size="5">
                    На данный момент я закончил курсы по android-разработке на
                    java от Samsung и общий курс по python-разработке на вашей
                    платформе. Самостоятельно изучал kotlin как возможность
                    упростить android-разработку, а также основы
                    html и css. Имею небольшой опыт в unity т.к. этим летом
                    писал многоуровневый платформер. В будущем планирую заняться
                    написанием десктопных приложений.
                </font></p>
            </div>
        </div>
    </div>
</body>
</html>
